#gva-color-icon {
    position: fixed;
    bottom: 71px;
    right: 33px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.gva_color-container {
    width: 100%;
    max-width: 600px; 
}
#gva-color-icon i.icon_gva {
    font-size: 1rem;
    background: url('../assets/icon.png') no-repeat center center;
    background-size: contain;
    background-color: white;
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    /* z-index: 10000; */
}
.gva_color-container-plus-body {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn.btn-secondary.restore {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 1.2rem;
    border: 1px solid black;
    background-color: white;
    color: black;
}
.gva_color-container-plus-body .btn.btn-secondary.plus {
    width: 33%;
    margin: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.4rem;
    border: 1px solid black;
    background-color: white;
    color: black;
}
.gva_color-container-plus-body .btn.btn-primary.plus {
    width: 33%;
    margin: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.4rem;
    border: 1px solid white;
    background-color: black;
    color: white;
}
.gva_color-container-body .btn.btn-secondary {
    width: 200px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.2rem;
    border: 1px solid black;
    background-color: white;
    color: black;
}

/* 
    GESTIC-797614 - Revisión implantación imagen - Adecuación al análisis
    Hacer el focus de los botones del modal mas visible
*/
.gva_color-container {
    .gva_color-container-title {
        .btn.btn-primary:focus{
            border:4px solid black;
        }
        .btn.btn-secondary:focus {
            border:4px solid black;        
        }
    }
    .gva_color-container-body{
        .btn.btn-primary:focus{
            border:4px solid black;
        }
        .btn.btn-secondary:focus{
            border:4px solid black;
        }
    } 
    .gva_color-container-plus-body{
        .btn.btn-primary:focus{
            border:4px solid black;
        }
        .btn.btn-secondary.plus:focus{
            border:4px solid black;
        }
    }
    .btn.btn-secondary.restore:focus{
        border:4px solid black;
    }
}
.gva_color-container-body .btn.btn-primary {
    width: 200px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.2rem;
    border: 1px solid white;
    background-color: black;
    color: white;
}
.gva_color-container-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
}

.gva_color-container-title h3{
    color:black !important;
}

@media (max-width: 768px) {
    .gva_color-container-title {
        display: block;
        text-align: center;
    }
}
.gva_color-container-title .btn {
    width: 200px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.2rem;
    border: 1px solid black;
    background-color: white;
    color: black;
}
/*
.gva_color-container-title .btn {
    width: 200px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.2rem;
    background-color: black;
    color: white;
}

.gva_color-container-title .btn.btn-secondary {
    width: 200px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.2rem;
    border: 1px solid black;
    background-color: white;
    color: black;
}
.gva_color-container-title .btn.btn-primary {
    width: 200px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.2rem;
    border: 1px solid white;
    background-color: black;
   
}
*/
.gva_color-container-title h3 {
    margin: 0;
}
.gva_color-container-title button {
    margin-left: auto;
}
.local-gva_color-buttoncontainer {
    position: fixed;
    bottom: 5rem;
    right: 2rem;
}
#page.drawers.show-drawer-right .local-gva_color-buttoncontainer {
    right: calc(315px + 2rem);
}
#local-gva_color-buttoncontainer button {
    font-size: 16px;
    width: 36px;
    height: 36px;
    line-height: 16px;
    padding: 0;
    text-align: center;
    border-radius: 50%;
}
.local-gva_color-panel {
    display: none;
    position: fixed;
    bottom: 8rem;
    right: 2rem;
    z-index: 1040;
    box-shadow: 0 0 5px #000;
}
.local-gva_color-panel > .card-body {
    min-height: 250px;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}
.local-gva_color-panel .card-header {
    border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
}
.h5p-embed .local-gva_color-buttoncontainer {
    display: none;
}
#btn-scroll-up, #btn-scroll-down {
    z-index: 9999 !important;


}